version: "3.8"

services:
  db:
    image: postgres:latest
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: mathis07
      POSTGRES_PASSWORD: mdp2025
      POSTGRES_DB: zwap
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: mathisolaya@gmail.com
      PGADMIN_DEFAULT_PASSWORD: mdp2025
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres-data:
